<div class="page">
  <div class="artLogo">
    <img src="/artVacancies/assets/artlogo.png" alt="artLogo">
  </div>
  <div class="title">
    <h2>Программа</h2>
  </div>
  <div class="pr_list">
    <ul>
      <li><b>«Пролог»</b> Гасцёуня «Купалинка» , Кутовская Мария Алексеевна</li>
      <li><b>«Славяне»</b> танцевальная студия «Лотос»</li>
      <li><b>«Куточак Беларуси»</b> - музыка и слова Ю. Быковой, исполняет: вокальная студия «Контакт» Кузнецова Вера Павловна</li>
      <li><b>«Ретро-попурри»</b> - вокальная студия «Контакт» Жедик Валентина Александровна</li>
      <li><b>«Спадчына»</b> - музыка: И. Лучёнок, слова: Я. Купала. Вокальная студия «Контакт» Юдицкая Александра Владимировна</li>
      <li><b>«Под парусами алыми»</b> - музыка: А. Шароваров, слова: Л. Наумчик. Вокальная студия «Контакт» Ляпко Тихон Андреевич,
      Кузнецова Вера Павловна.</li>
      <li><b>«Одиночество»</b> - Танцевальная студия «Лотос» Ларионов Даниил Андреевич, Овсяник Елизавета Сергеевна</li>
      <li><b>«С любимыми не расставайтесь»</b> - автор слов: Александр Кочетков. Театральная студия «Орхидея» Межонная Ольга
      Валентиновна, Дмитриев Артур Аркадьевич, Митина Мария Сергеевна</li>
      <li><b>«Жизнь»</b> - автор Кислякова Ирина Викторовна, театральная студия «Орхидея» Печень Илья Александрович, Овсяник
      Елизавета Сергеевна, Дмитриев Артур Аркадьевич</li>
      <li><b>«Сокол»</b> - автор музыки и слов: Н. Мисякова. Танцевальная студия «Лотос» и вокальная студия «Контакт»</li>
      <li><b>«Воин»</b> - автор слов: К. Фролов-Крымский. Театральная студия «Орхидея» Дмитриев Артур Аркадьевич</li>
      <li><b>«Хип-Хоп»</b> - постановщик Кислякова Ирина Викторовна и танцевальная студия «Лотос»</li>
      <li><b>«Слёзы»</b> - танцевальная студия «Лотос» и вокальная студия «Контакт» постановщик Кислякова Ирина Викторовна</li>
      <li><b>«Чёрное»</b> - танцевальная студия «Лотос»</li>
      <li><b>«Нравится»</b> - вокальная студия «Контакт» Ляпко Тихон Андреевич</li>
      <li><b>«Инь-янь»</b> - танцевальная студия «Лотос»</li>
      <li><b>«Треугольник»</b> - театр-студия «Орхидея»</li>
      <li><b>«Лотос»</b> - танцевальная студия «Лотос» автор стихов Ирина Кислякова </li>
      <li><b>«Танго»</b> - танцевальная студия «Лотос»</li>
      <li><b>«Мы будем вместе»</b> - вокальная студия «Контакт» слова В.Толок, музыка В. Толок, А. Шароваров</li>
    </ul>
  </div>
  <br>
  <div class="line"></div>
  <br>
  <div class="title">
    <h2>Танцевальная студия «Лотос»</h2>
  </div>
  <div class="info">
    <div class="info-img">
      <img src="/artVacancies/assets/lotos1.jpg" alt="inf">
      <div class="foot">
        <div class="line"></div>
      </div>
    </div>
    <div class="info-text">
      <div>
        Студия занимается постановкой современных танцев, основной целью
        является создание танцевальных номеров и выступлений, а так же обучение учащихся танцам.
        <br>
        «Лотос» является победителем городских, областных, республиканских и международных конкурсов.
      </div>
    </div>
  </div>
  <br>
    <div class="line"></div>
  <br>
  <div class="title">
    <h2>Гасцёўня «Купалінка»</h2>
  </div>
  <div class="info">
    <div class="info-img">
      <img src="/artVacancies/assets/kupal.JPG" alt="inf">
      <div class="foot">
        <div class="line"></div>
      </div>
    </div>
    <div class="info-text">
      <div>
        Проект по популяризации культуры и традиций белорусского народа, а так же
        организации театральных постановок на белорусском языке.

      </div>
    </div>
  </div>

  <br>
  <div class="line"></div>
  <br>
  <div class="title">
    <h2>Вокальная студия «Контакт»</h2>
  </div>
  <div class="info">
    <div class="info-img">
      <img src="/artVacancies/assets/contact1.jpg" alt="inf">
      <div class="foot">
        <div class="line"></div>
      </div>
    </div>
    <div class="info-text">
      <div>
        Студия обучающая вокалу и игре на музыкальных инструментах, работающая над постановкой голоса учащихся.
      </div>
      <div class="info-img">
        <img src="/artVacancies/assets/contact2.jpg" alt="inf">
      </div>
      <div>
        Коллектив исполняет песни, написанные руководителем и участниками коллектива, а так же песни белорусских и русских
        исолнителей.
      </div>
      <div class="info-img">
        <img src="/artVacancies/assets/contact3.jpg" alt="inf">
      </div>

    </div>
  </div>
        <div class="line"></div>

</div>
